body{
    padding:20px
    color:#fff;
    background-color:blue;
    padding:10px
}
div{
    color:#fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}